# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.my2dgame.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\UnityC#\my2dgame\.idea\.idea.my2dgame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
